{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
   {% block stylesheets %}
   <link rel="stylesheet" href="{{asset('styles/login.css')}}"/>
   {% endblock %} 

{% block body %}
<form method="post">
    <div class="box-login">
    <h1 class="login__title">Acceso clientes</h1>
    </div>
    
    <div class="box-username">  
    <label for="label">Usuario</label>
    <br>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    </div>
    
    <div class="box-password">
    <label for="inputPassword">Contraseña</label>
    <br>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <div class="box-button">
    <button class="button" type="submit">
        Acceder
    </button>
   </div>  

    {% if error %}
    <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="box-logout">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
   {% endif %}

</form>
{% endblock %}
