.post{
    margin: 0;
    padding: 0;
}
.box-login{
    margin-top: 100px;
    text-align: center;
}
.box-username{
    text-align: center;
    padding: 20px;
}
.box-password{
    /* margin-top: 30px; */
    text-align: center;
    padding: 20px
}
.box-button{
    text-align: center;
}
.button{
    padding: 5px;
    border-radius: 18px;
    font-weight: bold;
    outline:none;

}
.alert{
    color: red;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;   
}
.box-logout{
    text-align: center;
}