.prueba{
  margin-left: 20px;
}

th{
  font-size: 20px;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  margin-left: 30%;
}

button{
  padding: 5px;
  border-radius: 18px;
  font-weight: bold;
  outline:none;
}
.box-button{
  margin-top: 20px;
}