{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}


{% block body %}

{{form_start(usersForm)}}
  {{ form_row(usersForm.username)}}
  {{ form_row(usersForm.password)}}
  {{ form_row(usersForm.email)}}
  {{ form_row(usersForm.commentary)}}
    <button type="submit">Crear</button>
{{form_end(usersForm)}}


{% endblock %}
