{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{asset('styles/edit.css')}}"/>
{% endblock %} 


{% block body %}

  <div class="box-form">
    <h2>Edita el usuario:</h2>

    {{form_start(editForm)}}

      {{ form_row(editForm.username)}}
      {{ form_row(editForm.password)}}
      {{ form_row(editForm.email)}}
      {{ form_row(editForm.commentary)}}
      <button type="submit">Editar</button>

    {{form_end(editForm)}}

  </div>


{% endblock %}