{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}
   {% block stylesheets %}
      <link rel="stylesheet" href="{{asset('styles/users.css')}}"/>
   {% endblock %} 

{% block body %}

<div class="prueba">

   <h2 class="title">Lista de Usuarios</h2>
   <div>
       <table class="table">
         <tr>
           <th>Username</th>
           <th>Password</th>        
           <th>Email</th>        
           <th>Comentarios</th> 
          </tr>

          {% for user in user %}
  
         <tr>
           <td>{{user.username}}</td>
           <td>********</td>
           <td>{{user.email}}</td>
           <td>{{user.commentary}}</td>
           <td><a href="{{ path('user_edit', {'id': user.id}) }}"><button>Editar</button></a></td>
           <td><a href="{{ path('user_delete', {'id': user.id}) }}"><button>Eliminar</button></a></td>          
         </tr>    

          {% endfor %}

       </table>

    </div>

   <div class="box-button">
     <a href="/users/create-user"><button>Añadir usuario</button></a>
   </div>

  </div>

{% endblock %}